<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-page-size" content="Tabloid"/>
        {% for name, file in css.items() %}
        <link rel="stylesheet" href="{{file}}">
        {% endfor %}
    </head>
    <body class="{{styles.body}}">
      <section id="logos" class="{{styles.logos}}">

            <div class="{{logos.cliente.styles.class}}" id="logo_cliente">
              <figure class="{{logos.cliente.styles.class_in}}"
                      id="{{logos.cliente.styles.id}}">
                <img src="{{logos.cliente.image}}">
            </figure>
            </div>
            <div class="column">
                <h3 class="{{info.placa.title.class}}">
                  {{info.placa.title.text}}
                  de Sección
                  {{info.placa.code.eje}}{{info.placa.code.seccion}},
                  PK: {{info.placa.pk}}</h3>

            </div>
            <div class="column">
                              <h2 class="{{info.placa.date.class}}">
                                {{info.placa.date.text}}</h3>
           </div>
<div class="{{logos.contratista.styles.class}}"
     id="logo_contratista">
  <figure class="{{logos.contratista.styles.class_in}}"
          id="{{logos.contratista.styles.id}}">
                <img src="{{logos.contratista.image}}">
            </figure>
            </div>
        </section>
        <section id="info" class="{{styles.info}}">
          <div id="placa" class="{{styles.placa}}">
            <div class="columns">
              <div class="column">
            </div>
            </div>
</section>
<section class="columns">
        <section id="graficos" class="{{styles.graficos}}">
          {% for chart_type, graficos in graficos.items() %}
          <div class="{{graficos.styles.class}}">
          <h3 class="{{graficos.title.styles.class}}">
            {{graficos.title.text}}
          </h3>
          <figure id="{{chart_type}}">
              <img src="{{graficos.image}}" class="{{graficos.styles.class}}">
          </figure>
          </div>
          {% endfor %}
        </section>
        <section id="extra" class="{{styles.extra}}">
          <div id="info_table">
                <table class="{{info.placa.class}}">
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Eje</th>
                          <th>Sección</th>
                          <th>PK</th>
                          <th>Tipo de Eje</th>
                          <th>Referencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>{{info.placa.id}}</td>
                          <td>{{info.placa.code.eje}}</td>
                          <td>{{info.placa.code.seccion}}</td>
                          <td>{{info.placa.pk}}</td>
                          <td>{{info.placa.tipo_eje}}</td>
                          <td>{{info.placa.referencia}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="monografia"
                 id="{{extra.monografia.styles.id_in}}"
                 class="{{extra.monografia.styles.class}}">
              <div class="{{extra.monografia.styles.class_in}}">
                <figure id="{{extra.monografia.styles.id}}">
                    <img src="{{extra.monografia.image}}">
                </figure>
                </div>
            </div>
           <div id="notes" class="{{extra.notes.styles.class}}">
             <div id="{{extra.notes.styles.id_in}}"
                  class="{{extra.notes.styles.class_in}}">
                 <h3 class="{{extra.notes.title.styles.class}}">
                   {{extra.notes.title.text}}</h3>
                 <ul class="{{extra.notes.styles.ul_class}}">
                   {% for note in extra.notes.list %}
                   <li>{{note}}</li>
                   {% endfor %}
                 </ul>
             </div>
           </div>
        </section>
        </section>
    </body>
</html>
