<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-page-size" content="Legal"/>
        {% for name, file in css.items() %}
        <link rel="stylesheet" href="{{file}}">
        {% endfor %}
        <style>
         {{extra_css}}
        </style>
    </head>
    <body class="">
<!-- logo de contratista -->
      <section id="logos" class="{{styles.logos}}">
            <div class="{{logos.cliente.styles.class}}" id="logo_cliente">
              <figure class="{{logos.cliente.styles.class_in}}"
                      id="{{logos.cliente.styles.id}}">
                <img src="{{logos.cliente.image}}">
              </figure>
            </div>
<!-- titulo general -->
            <div class="column {{styles.main}}">
              <div class="{{info.placa.project_title.class}}">
                {{info.placa.project_title.text}}
              </div>
                <div class="{{info.placa.project_subtitle.class}}">
                  {{info.placa.project_subtitle.text}}</div>

            </div>
<!-- logo metro -->
	<div class="{{logos.contratista.styles.class}}"
	     id="logo_contratista">
	  <figure class="{{logos.contratista.styles.class_in}}"
		  id="{{logos.contratista.styles.id}}">
		        <img src="{{logos.contratista.image}}">
		    </figure>
		    </div>
        </section>
        <section id="info" class="{{styles.info}}">
          <div id="placa" class="{{styles.placa}}">
            <div class="columns">
                <div class="column">
                </div>
            </div>
        </section>

        <!-- tabla de datos -->
        <section id="base_info" class="columns">
            <section id="extra" class="{{styles.extra}}">
                <div id="info_table">
                    <table class="{{info.placa.class}}">
                        <thead>
                            <tr>
                                <th>Eje</th>
                                <th>PK</th>
                                <th>Frente</th>
                                <th>Sector</th>
                                <th>Fecha Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info.placa.code.eje}}</td>
                                <td>{{info.placa.pk}}</td>
                                <td>{{info.placa.tipo_eje}}</td>
                                <td>{{info.placa.referencia}}</td>
                                <td>{{info.placa.fecha}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </section>
        <!-- graficos -->
        <section class="columns">
            <section id="graficos" class="{{styles.graficos}}">
                {% for chart_type, graficos in graficos.items() %}
                <div class="{{graficos.styles.class}}">
                    <h3 class="{{graficos.title.styles.class}}">
                        {{graficos.title.text}}
                    </h3>
                    <figure id="{{chart_type}}">
                        <img src="{{graficos.image}}" class="{{graficos.styles.class}}">
                    </figure>
                </div>
                {% endfor %}
            </section>
        </section>

    </body>
</html>
