<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-page-size" content="Legal"/>
        <meta name="topoapi-tempĺate" content="template_nivelacion_campana.jinja.html"/>
        {% for name, file in css.items() %}
        <link rel="stylesheet" href="{{file}}">
        {% endfor %}
        <style>
         {{extra_css}}
        </style>
    </head>
    </head>
    <body class="">
      <section id="logos" class="{{styles.logos}}">
<!-- logo de contratista -->
        <div class="{{logos.contratista.styles.class}}"
             id="logo_contratista">
          <figure class="{{logos.contratista.styles.class_in}}"
              id="{{logos.contratista.styles.id}}">
                    <img src="{{logos.contratista.image}}">
                </figure>
                </div>
<!-- titulo general -->
            <div class="column {{styles.main}}">
              <div class="{{info.placa.project_title.class}}">
                <b>{{info.placa.project_title.text}}</b>
              </div>
                <div class="{{info.placa.title.class}}">
                  {{info.placa.title.text}}</div>
            </div>
<!-- logo metro -->
            <div class="{{logos.cliente.styles.class}}" id="logo_cliente">
              <figure class="{{logos.cliente.styles.class_in}}"
                      id="{{logos.cliente.styles.id}}">
                <img src="{{logos.cliente.image}}">
              </figure>
            </div>
        </section>
        <!-- tabla de datos -->
        <section id="base_info" class="columns">
            <section id="extra" class="{{styles.extra}}">
                <div id="info_table">
                    <table class="{{info.placa.class}}">
                        <thead>
                            <tr>
                                <th>Eje</th>
                                <th>Sección</th>
                                <th>PK</th>
                                <th>Frente</th>
                                <th>Sector</th>
                                <th>Fecha Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info.placa.code.eje}}</td>
                                <td>{{info.placa.code.seccion}}</td>
                                <td>{{info.placa.pk}}</td>
                                <td>{{info.placa.tipo_eje}}</td>
                                <td>{{info.placa.referencia}}</td>
                                <td>{{info.placa.fecha}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </section>
        <!-- graficos -->
        <section class="columns">
            <section id="graficos" class="{{styles.graficos}}">
                {% for chart_type, grafico in graficos.items() %}
                <div class="{{grafico.styles.class}}">
                    <h3 class="{{grafico.title.styles.class}}">
                        {{grafico.title.text}}
                    </h3>
                    <figure id="{{chart_type}}">
                        <img src="{{grafico.image}}" class="{{grafico.styles.class}}">
                    </figure>
                </div>
                {% endfor %}
            </section>

            <section class="column">
            <section class="{{extra.extra_box.styles.class}}">
                
                 <div id="notes" class="{{extra.notes.styles.class}}">
                 <div id="{{extra.notes.styles.id_in}}"
                      class="{{extra.notes.styles.class_in}}">
                     <div class="{{extra.notes.title.styles.class}}">
                       {{extra.notes.title.text}}</div>
                     <ul class="{{extra.notes.styles.ul_class}}">
                         
                       {% for note in extra.notes.list %}
                       <li>{{note}}</li>
                       {% endfor %}
                     </ul>
                 </div>
               </div>
             
            <div id="{{extra.signos_box.styles.id_in}}"
                 class="{{extra.signos_box.styles.class}}">
                 
                  <div class="{{extra.signos_vert.title.styles.class}}">
                    Convención de signos</div>
               <div id="signos"
                     id="{{extra.signos_vert.styles.id_in}}"
              <div class="{{extra.signos_vert.styles.class_in}}">
                <figure>
                  <img id="{{extra.signos_vert.styles.id}}" class="{{extra.signos_vert.styles.class}}" src="{{extra.signos_vert.image}}">
                </figure>
              </div>
            </div>
               
               <div  id="{{extra.mono_box.styles.id_in}}"
                     class="row {{extra.mono_box.styles.class}}">
                  <div class="{{extra.monografia.title.styles.class}}">
                    Ubicación</div>
               <div id="monografia"
                     id="{{extra.monografia.styles.id_in}}"
                     class="{{extra.monografia.styles.class}}">

                  <div class="{{extra.monografia.styles.class_in}}">
                    <figure>
                      <img id="{{extra.monografia.styles.id}}" src="{{extra.monografia.image}}">
                    </figure>
                    </div>
                </div>
                </div>
            </section>

        </section>

    </body>
</html>
