<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-page-size" content="Legal"/>
        <meta name="topoapi-tempĺate" content="template_nivelacion_longitudinal.jinja.html"/>
        {% for name, file in css.items() %}
        <link rel="stylesheet" href="{{file}}">
        {% endfor %}
        <style>
         {{extra_css}}
        </style>
    </head>
    </head>
    <body class="">
      <section id="logos" class="{{styles.logos}}">
<!-- logo de contratista -->
        <div class="{{logos.contratista.styles.class}}"
             id="logo_contratista">
          <figure class="{{logos.contratista.styles.class_in}}"
              id="{{logos.contratista.styles.id}}">
                    <img src="{{logos.contratista.image}}">
                </figure>
                </div>
<!-- titulo general -->
            <div class="column {{styles.main}}">
              <div class="{{info.placa.project_title.class}}">
                <b>{{info.placa.project_title.text}}</b>
              </div>
                <div class="{{info.placa.title.class}}">
                  {{info.placa.title.text}}</div>
            </div>
<!-- logo metro -->
            <div class="{{logos.cliente.styles.class}}" id="logo_cliente">
              <figure class="{{logos.cliente.styles.class_in}}"
                      id="{{logos.cliente.styles.id}}">
                <img src="{{logos.cliente.image}}">
              </figure>
            </div>
        </section>
        <!-- tabla de datos -->
        <section id="base_info" class="columns">
            <section id="extra" class="{{styles.extra}}">
                <div id="info_table">
                    <table class="{{info.placa.class}}">
                        <thead>
                            <tr>
                                <th>Eje</th>
                                <th>Rango de PK</th>
                                <th>Frente</th>
                                <th>Sector</th>
                                <th>Fecha Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{info.placa.code.eje}}</td>
                                <td>{{info.placa.pk.min}} ;  {{info.placa.pk.max}}</td>
                                <td>{{info.placa.tipo_eje}}</td>
                                <td>{{info.placa.referencia}}</td>
                                <td>{{info.placa.fecha}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </section>
        <!-- graficos -->
        <section class="columns">
            <section id="graficos" class="{{styles.graficos}}">
                <div class="{{graficos.settlement_longitudinal.styles.class}}">
                    <h3 class="{{graficos.settlement_longitudinal.title.styles.class}}">
                        {{graficos.settlement_longitudinal.title.text}}
                    </h3>
                    <figure id="{{graficos.settlement_longitudinal}}">
                        <img src="{{graficos.settlement_longitudinal.image}}" class="{{graficos.settlement_longitudinal.styles.class}}">
                    </figure>
                </div>
                <section class="columns is-gapless">
                    <section class="column">
                        <div id="{{table.styles.id_in}}" class = "container">
                            <table class="table is-bordered">
                                <thead>
                                <tr>
                                    {% for title in table.titles %}
                                    <th class="myStyle2">{{title}}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in table.rows[:table.max_rows] %}
                                    <tr>
                                        {% for value in row %}
                                        <td class="myStyle">{{value}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </section>
                    <section class="column is-three-quarters {{graficos.excavation_progress.styles.class}}">
                        <h3 class="{{graficos.excavation_progress.title.styles.class}}">
                            {{graficos.excavation_progress.title.text}}
                        </h3>
                        <figure id="{{graficos.excavation_progress}}">
                            <img src="{{graficos.excavation_progress.image}}" class="{{graficos.excavation_progress.styles.class}}">
                        </figure>
                    </section>
                </section>
            </section>

            <section class="column">
            <section class="{{extra.extra_box.styles.class}}">

                 <div id="notes" class="{{extra.notes.styles.class}}">
                 <div id="{{extra.notes.styles.id_in}}"
                      class="{{extra.notes.styles.class_in}}">
                     <div class="{{extra.notes.title.styles.class}}">
                       {{extra.notes.title.text}}</div>
                     <ul class="{{extra.notes.styles.ul_class}}">
                       {% for note in extra.notes.list %}
                       <li>{{note}}</li>
                       {% endfor %}
                     </ul>
                 </div>
               </div>

            <div id="{{extra.signos_box.styles.id_in}}"
                 class="{{extra.signos_box.styles.class}}">

                  <div class="{{extra.signos_vert.title.styles.class}}">
                    Convención de signos</div>
               <div id="signos"
                     id="{{extra.signos_vert.styles.id_in}}"
              <div class="{{extra.signos_vert.styles.class_in}}">
                <figure>
                  <img id="{{extra.signos_vert.styles.id}}" class="{{extra.signos_vert.styles.class}}" src="{{extra.signos_vert.image}}">
                </figure>
              </div>
            </div>

               <div  id="{{extra.mono_box.styles.id_in}}"
                     class="row {{extra.mono_box.styles.class}}">
                  <div class="{{extra.monografia.title.styles.class}}">
                    Ubicación</div>
               <div id="monografia"
                     id="{{extra.monografia.styles.id_in}}"
                     class="{{extra.monografia.styles.class}}">

                  <div class="{{extra.monografia.styles.class_in}}">
                    <figure>
                      <img id="{{extra.monografia.styles.id}}" src="{{extra.monografia.image}}">
                    </figure>
                    </div>
                </div>
                </div>
            </section>

        </section>

    </body>
</html>
