body{
    padding:30px 35px 30px 30px;
    border: 2px solid rgba(0,0,0,.5); 
}

#logos {
  border-bottom: 2px dotted rgba(0,0,0,.1);
}
#logos img{
    width: 210px; 
}

#graficos {
  margin-top:0;
  margin-bottom:0;  
  padding-top:0;
  padding-bottom:0;  
}
#graficos img {
    width: 100%;
}

#info {
    
}

#placa {
    
}

#box_monografia{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height:100%;
    width:100%;
    text-align:center;
    padding-bottom: 5px;
    padding-top: 5px;
    }

#monografia_fig {
  width: 85%;
  height: 90%;
    border: 1px solid grey;
}

.monografia figure{
}

#monografia img {
}

#notes {
    height: 50%;  
    width: 100%;
}

#notes_box {
    border: 1px solid black;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#box_signos{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 50%;
    width:100%;
    text-align:center;
    }

#signos_fig {
  width: 58%;
}


.extra-info {
    display:flex;
}

.last-info{
    display:flex;
    flex-direction:column;
}

.chart-img{
    margin-top:2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.report-title{
    font-size: 1.0em;
}

.chart-title{
    font-size: 1.25em;
}
.extra-info-title{
    font-size: 1.3em;
}

ul {
    list-style: none;
}

li::before{color: black; content: "•"; margin-right: 5px}


li {
    font-size: 1.2em;
}

td {
    text-align:center;
}

@page {
    margin: 0in 0.44in 0.2in 0.44in;
}

@media print{

    table {
        border: 1pt solid #000000;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 11pt;
        width: 100%;
    }
    
    @page {
        width: 216mm;
        height: 356mm;
        size: portrait;
    }
    
    .extra-info {
        display:flex;
    }

    .last-info{
        display:flex;
        flex-direction:column;
        height: 385px;
    }
       
}
