body{
    padding:30px 30px 30px 30px;
}
#logos img{
    width: 200px; 
}

#graficos img {
    width: 90%;
}
#info {
    
}

#placa {
    
}

#monografia {
    
}

#monografia img {
    width: 100%;
}

ul {
    list-style-type: square;
}

#notes_box {
    height: 100%;
}


@page {
    margin: 0in 0.44in 0.2in 0.44in;
}

@media print{
    margin: 27mm 16mm 27mm 16mm; 

    table {
        border: 1pt solid #000000;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 11pt;
        width: 100%;
    }

    @page {
        width: 2500mm;
        height: 1300mm;
        size: landscape;
    }
}
