body{
    padding:30px 30px 30px 30px;
    border: 2px solid rgba(0,0,0,.5);
    height: 1020px;
}

#logos {
  border-bottom: 2px dotted rgba(0,0,0,.1); 
}
#logos img{
    width: 200px; 
}

#graficos {
  margin-top:0;
  margin-bottom:0;  
  padding-top:0;
  padding-bottom:0;  
}
#graficos img {
    width: 75%;
}

#info {
    
}

#placa {
    
}

#monografia_fig {
  height:100%;
  margin:0;
}

.monografia figure{
  height:100%;
  margin:0;
}

#monografia img {
    width: 100%;
    height:100%;    
}

#notes {
    border: 2px solid black;
    height: 100%;
    font-size: 0.75em;
}

#notes_box {
    padding: 5px;
    margin-left: 5px;
    height: 100%;    
}

.chart-img{
  margin-top:2px;
  margin-bottom: 2px;
  height:55%;
}

.last-info{
  height: 380px;
}

ul {
    list-style-type: square;
    margin-left: 25px;
}

td {
    text-align:center;
}

@page {
    margin: 0in 0.44in 0.2in 0.44in;
}

@media print{
    margin: 27mm 16mm 27mm 16mm; 

    table {
        border: 1pt solid #000000;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 11pt;
        width: 100%;
    }

    td {
      text-align:center;
    }
    ul {
      list-style-type: square;
      margin-left: 25px;
    }
    
    @page {
        width: 356mm;
        height: 216mm;
        size: landscape;
    }
    
    #graficos {
      margin-top:0;
      margin-bottom:0;  
      padding-top:0;
      padding-bottom:0;  
    }
    #graficos img {
      width: 70%;
    }
    
    #notes_box {
      padding: 5px;
      margin-left: 5px;
      height: 100%;    
    }
    
    #notes {
      border: 2px solid black;
      height: 100%;
    }
    
    .last-info{
      height: 450px;
    }
    
}
