body{
    padding:30px 31px 30px 30px;
    border: 2px solid rgba(0,0,0,.5);
}

#logos {
  border-bottom: 2px dotted rgba(0,0,0,.1); 
}
#logos img{
    width: 200px; 
}


#graficos {
  margin-top:0;
  margin-bottom:0;  
  padding-top:0;
  padding-bottom:0;
}

#graficos img {
  width: 100%;
}

#info {
    
}

#placa {
    
}

#box_table{
    padding-right: 10px;
    padding-top:1px;
    }

td.myStyle { font-size: 13px; height: 17px; }
th.myStyle2 { font-size: 13px; height: 18px; }

.extra-box-monografia{
}
    
 #box_monografia{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 96.5mm;
    width: 100%;
    margin:0;
    text-align:center;
    padding-top: 15px;
    }

.monografia figure{
}

#monografia img {
    padding: 0px;
    width: 95%;
    border: 1px dotted rgba(0,0,0,.5); 
}


#notes_box {
  padding: 10px;
  margin-left: 10px;
  height: 52.25mm;
}

#notes {
  margin-top:22px;
  border: 1px solid black;
  height: 25%;
  font-size: 0.75em;
}

#box_signos{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 47.85mm;
    text-align:center;
    }

#signos img {
    padding: 0px;
    height: 35mm;
    border: 1px dotted rgba(0,0,0,.5); 
}

.columns{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.chart-img{
    margin-top:2px;
    margin-bottom: 2px;
}

#nivelacion_longitudinal img{
    width: 100%;
}

#excavacion img{
    width: 100%;
}

.last-info{
  height: 100%;
}
    
.extra-info-block{
  height: 100%;
}

.report-title{
    font-size: 1.4em;
}

.chart-title{
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li::before{color: black; content: "•"; margin-right: 5px}

li {
    font-size: 1.0em;
}

td {
    text-align:center;
}

td:empty::after{
  content: "\00a0";
}

@page {
    margin: 0in 0.44in 0.2in 0.44in;
}

@media print{

    table {
        border: 1pt solid #000000;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 11pt;
        width: 100%;
    }
    
    @page {
        width: 356mm;
        height: 216mm;
        size: landscape;
      
    }
        
    #graficos {
      margin-top:0;
      margin-bottom:0;  
      padding-top:0;
      padding-bottom:0;  
    }
    #graficos img {
      width: 100%;
    }
    
    #spacer_id{
        height:16px;
    }

    
}
